{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Exo:ital,wght@1,500;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
  </head>
  <body style="background-color:gray">
  <nav class="navbar navbar-expand-lg" style="background-color:lightgray;height: 4rem">
    <a href="{% url 'home' %}" class="navbar-brand mb-0 h1" style="font-size:2.5em; font-family:'Chakra Petch'; letter-spacing: -.05em; margin-right:3em;">
      <img class="brand align-center" src="{% static 'homeicon.png' %}" width="60" height="60" style="border-radius:50%; margin:0 .7rem 0 .7rem"><strong>
      Mechanical Engineering <span style="color:SlateBlue;">Design</span>
    </strong></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="dropdown">
        <a class="btn dropdown-toggle" style="background-color:transparent; border-color: transparent;font-family:'Chakra Petch'; font-size: 1.3em; padding:.8rem;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Calculators
        </a>
        <ul class="dropdown-menu"  aria-labelledby="dropdownMenuLink" style="background-color:LavenderBlush;border-radius:0% 0% 3% 3%;">
          <li><a class="dropdown-item" style="padding:1.2em;font-family:'Chakra Petch';" href="{% url 'ps' %}">Principal Stresses</a></li>
          <li><a class="dropdown-item" style="padding:1.2em;font-family:'Chakra Petch';" href="{% url 'pv' %}">Cylindrical Pressure Vessel Stress</a></li>
        </ul>
      </div>
          </div>
    <a href="{% url 'register' %}" class="btn" tabindex="-1" role="button" aria-disabled="true" style="font-family:'Chakra Petch';background-color:SlateBlue;border-color:black;margin: 0rem 1rem 0rem 0rem;">Register</a>
    <a href="{% url 'login' %}" class="btn" tabindex="-1" role="button" aria-disabled="true" style="font-family:'Chakra Petch';background-color:DarkGoldenRod;border-color:black;margin: 0rem 3rem 0rem 0rem">Login</a>

  </nav>
  {% block content %}
  {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>

