{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">

  <div class="row" id="row1">

    <div class="col" id="col1-1">
      <div id="scw-card" class="card" style="width: 24rem;">
        <img src="{% static 'placeholder_ai_cat.png' %}" class="card-img-top" alt="ai_cat">
        <div class="card-body text-bg-dark">
          <h5 class="card-title">Strength and Cold Work</h5>
          <p class="card-text">Strength.</p>
          <p class="card-text">and.</p>
          <p class="card-text">Cold Work.</p>
          <a href="{% url 'scw' %}" class="btn btn-primary">Go to Calculator</a>
        </div>
      </div>
    </div>

    <div class="col" id="col1-2">
      <div id="ps-card" class="card" style="width: 24rem;">
        <img src="{% static 'placeholder_ai_cat.png' %}" class="card-img-top" alt="ai_cat">
        <div class="card-body text-bg-dark">
          <h5 class="card-title">Principal Stresses</h5>
          <p class="card-text">Principal stresses.</p>
          <p class="card-text">Principal stresses.</p>
          <p class="card-text">Principal stresses.</p>
          <a href="{% url 'ps' %}" class="btn btn-primary">Go to Calculator</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="row2">
    <div class="col" id="col2-1">
      <div id="pvs-card" class="card" style="width: 24rem;">
        <img src="{% static 'PVcard.PNG' %}" class="card-img-top" alt="aigen_pv">
        <div class="card-body text-bg-dark">
          <h5 class="card-title">Cylindrical Pressure Vessel Stresses</h5>
          <p class="card-text">The pressure vessel can be capped or uncapped. Stresses can be calculated on the inner
            or outer walls.</p>
          <p class="card-text">A carbonated drink is an example of a capped/closed pressure vessel, while a gun barrel is an
            example of an uncapped/open pressure vessel.</p>
          <p class="card-text">If the vessel is closed/capped, there will be an axial stress.</p>
          <a href="{% url 'pv' %}" class="btn btn-primary">Go to Calculator</a>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}