<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
    <title>Mechanical Engineering Design</title>
    <link rel="stylesheet" href="{% static 'base_style.css' %}">
</head>
<body>

  <div class="navbar">
    <div class="container">
      <nav>
        <a href="{% url 'home' %}" class="brand">Mechanical Engineering <span>Design</span></a>
        <ul class="primary-nav">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a>Calculators</a>
            <ul>
              <li><a href="{% url 'cw' %}">Strength and Cold Working</a></li>
              <li><a href="{% url 'principal' %}">Principal Stresses</a></li>
              <li><a href="{% url 'pv' %}">Pressure Vessel Stresses</a></li>
            </ul>
          </li>
        </ul>
      </nav>

    </div>
  </div>

  {% block body %}
  {% endblock %}
</body>
</html>