<!--<nav>-->
<!--    <ul>-->
<!--        <li>Home</li>-->
<!--        <li>Strength and Cold Working</li>-->
<!--        <li>Principal Stresses</li>-->
<!--        <li>Pressure Vessel Stresses</li>-->
<!--    </ul>-->
<!--</nav>-->

<div class="topnav">
  <a href="http://127.0.0.1:8000/home">Home</a>
  <a href="http://127.0.0.1:8000/strength_and_cold_working/">Strength and Cold Working</a>
  <a href="http://127.0.0.1:8000/principal_stress">Principal Stresses</a>
  <a href="http://127.0.0.1:8000/pressure_vessel_stress">Pressure Vessel Stresses</a>
</div>